<h2>Course List</h2>

<p *ngIf="error$ | async as errorMessage" style="color: red;">{{ errorMessage }}</p>

<ng-container *ngIf="(loading$ | async) === false; else loading">
  <ng-container *ngIf="courses$ | async as courses">
    <div class="course-grid" *ngIf="courses.length > 0; else noCourses">
      <app-course-card 
        *ngFor="let c of courses; let i = index" 
        [course]="c">
      </app-course-card>
    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <p>Loading courses from store...</p>
</ng-template>

<ng-template #noCourses>
  <p>No courses available.</p>
</ng-template>
